#mb100 {
    width: 300px;
    height: 150px;
    margin-left: 0px;
    margin-right: 1500px;
    background-color:  #fff;;
    border-color: black;
    display: inline-flex;
    border-radius:0%;
    box-shadow: 0px 0px  ;
    
}
#mb100{
    background: url(../image/logo2.png) no-repeat;
    background-size: cover;}
    
html{
    background:url('../image/f3.png');
}

#mb101{
    width: 317.5px;
    height:120px;
    margin-left: 250px;
    margin-right: 600px;
    margin-top: 180px;
    background-color: rgb(0, 0, 0);
    border-color: black;
    border-radius: 0%;
    display: inline-flex;
    box-shadow: 0px 0px #404041 ;
    
    
}
#mb102 {
    width: 317.5px;
    height: 120px;
    margin-top: -440px;
    margin-left: 810px;
    margin-right: 180px;
    background-color: rgb(0, 0, 0);
    border-color: black;
    border-radius: 0%;
    display: inline-flex;
    box-shadow: 0px 0px #404041 ;
    
    
}
#mb101{
    background: url(../image/supp.png) no-repeat;
    background-size: cover;}
    
#mb102{
        background: url(../image/modi.png) no-repeat;
        background-size: cover;}

        #mb1,#mb2,#mb3,#mb4,#mb5,#mb6 {
            width: 300px;
            height: 300px;
            margin-left: 100px;
            margin-right: 20px;
            background-color: rgb(231, 26, 26);
            border-color: black;
            display: inline-flex;
            border-radius: 80%;
            box-shadow: 0px 0px #565252cd ;
            display: inline-block
        }
    
        #mb1{
            background: url(../image/net.png) no-repeat;
            background-size: cover;
        
        }
        #mb2{
            background: url(../image/chauff.png) no-repeat;
            background-size: cover;
            
           
        }
        #mb3{
            background: url(../image/elec.png) no-repeat; 
            background-size: cover;
        
        }
        #mb4{
            background: url(../image/meca.png) no-repeat;
            background-size: cover;
            
            
        }
        #mb5{
            background: url(../image/plomb.png) no-repeat; 
            background-size: cover;
        
        }
        #mb6{
            background: url(../image/jard2.png) no-repeat;
            background-size: cover;
            
            
        }