#mb100 {
    width: 300px;
    height: 150px;
    margin-left: 0px;
    margin-right: 1500px;
    background-color:  #fff;;
    border-color: black;
    display: inline-flex;
    border-radius:0%;
    box-shadow: 0px 0px  ;
    
  }
  #mb100{
    background: url(../image/logo2.png) no-repeat;
    background-size: cover;}
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
  
  }
  h2{
    color: #5e8590;
  }
  body {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      position: relative;
      background: url("../image/admin.png");
  }
  .Btn_add {
      width: fit-content;
      margin-bottom:20px;
      background-color: #1fd4d4;
      padding: 5px 20px;
      color: #fff;
      display: flex;
      align-items: center;
      text-align: 0;
      border-radius: 6px;
      text-decoration: 0;
  }
  .Btn_add img {
      margin-right: 5px;
      height: 20px;
  }
  /*tableau*/
  table {
      border-collapse:collapse;
      border-color: black;
      color: #000000;
  }
  th {
      font-size: 16px;
      border-bottom: 3px solid #6be4f7;
      padding: 5px 20px;
      font-weight: 500;
  }
  td {
      font-weight: 400;
      padding: 5px 30px;
      font-size: 14px;
      text-align: center;
  
  }
  img {
      height: 25px;
     
  }
  tr:nth-child(2n){
      background-color: #3b9fac84;
  }
  tr:nth-child(2n) td {
      border-bottom: 1px solid #ffdef2;
      border-top:  1px solid #ffdef2;
  }
  /*Form CSS*/
  .form {
      background-color: #1e7b7b;
      padding: 25px;
      box-shadow: 0 0 10px rgb(232, 0, 0);
      border-radius: 6px;
  }
  .form form {
      display: flex;
      width: 350px;
      flex-direction: column;
  }
  
  .back_btn img {
      height: 16px;
      margin-right:5px ;
  }
  h2 {
      margin: 10px 0;
      font-weight: 500;
      text-transform: uppercase;
  }
  .erreur_message {
      color: rgb(0, 0, 0);
      font-size: 12px;
  }
  label {
      margin-top: 5px;
      text-transform: uppercase;
  }
  input{
      padding: 5px;
      border: 1px solid rgb(206, 6, 6);
      outline: 0;
      margin-top: 2px;
  }
  input:focus{
      border: 1px solid #f5b2e4;
  }

  #mb100 {
    width: 300px;
    height: 150px;
    margin-left: 0px;
    margin-right: 1500px;
    background-color:  #fff;;
    border-color: black;
    display: inline-flex;
    border-radius:0%;
    box-shadow: 0px 0px  ;
    
  }
  #mb100{
    background: url(../image/logo2.png) no-repeat;
    background-size: cover;}
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
  
  }
  h2{
    color: #5e8590;
  }
  body {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      position: relative;
      background: url("../image/az.png");
  }
  .Btn_add {
      width: fit-content;
      margin-bottom:20px;
      background-color: #1fd4d4;
      padding: 5px 20px;
      color: #fff;
      display: flex;
      align-items: center;
      text-align: 0;
      border-radius: 6px;
      text-decoration: 0;
  }
  .Btn_add img {
      margin-right: 5px;
      height: 20px;
  }
  /*tableau*/
  table {
      border-collapse:collapse;
      border-color: rgb(255, 253, 253);
      color: #fff9f9;
  }
  th {
      font-size: 16px;
      border-bottom: 3px solid #6be4f7;
      padding: 5px 20px;
      font-weight: 500;
  }
  td {
      font-weight: 400;
      padding: 5px 30px;
      font-size: 14px;
      text-align: center;
  
  }
  img {
      height: 25px;
     
  }
  tr:nth-child(2n){
      background-color: #3b9fac84;
  }
  tr:nth-child(2n) td {
      border-bottom: 1px solid #ffdef2;
      border-top:  1px solid #ffdef2;
  }
  /*Form CSS*/
  .form {
      background-color: #1e7b7b;
      padding: 25px;
      box-shadow: 0 0 10px rgb(209, 208, 208);
      border-radius: 6px;
  }
  .form form {
      display: flex;
      width: 350px;
      flex-direction: column;
  }
  
  .back_btn img {
      height: 16px;
      margin-right:5px ;
  }
  h2 {
      margin: 10px 0;
      font-weight: 500;
      text-transform: uppercase;
  }
  .erreur_message {
      color: rgb(0, 0, 0);
      font-size: 12px;
  }
  label {
      margin-top: 5px;
      text-transform: uppercase;
  }
  input{
      padding: 5px;
      border: 1px solid rgb(206, 6, 6);
      outline: 0;
      margin-top: 2px;
  }
  input:focus{
      border: 1px solid #f5b2e4;
  }

  